body {
  font-family: 'Roboto Mono', monospace;
}

.masthead {
  height: 100vh;
  min-height: 300px;
  background-image: url('https://www.wallpaperflare.com/static/967/89/86/minimalism-code-text-digital-art-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.about {
  padding-top: 60px;
  /* background-color: #f8f9fa; */
  background-color: #F5F5F5;
}

.about-description {
  margin-top: 100px;
}

.profile-image {
  max-width: 80%;
  height: auto;
  padding: 50px;
}

.qualifications {
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-color: #8CBD52; */
  background-color: #F7CE6C;
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #BF8F0B;
}

.card-deck {
  margin-left: 100px;
}

.card {
  background-color: #BF8F0B;
  border: #BF8F0B;
}

.icon {
  padding-top: 20px;
}

.icons {
  text-align: center;
}

.icons ul {
  display: inline-flex;
}

.description {
  padding-top: 20px;
}

.hardware-description {
  padding-top: 68px;
}

.design-description {
  padding-top: 68px;
}

.projects {
  padding-top: 60px;
  background-color: #f8f9fa;
}

.content {
  margin-top: 50px;
}

.projects-items {
  padding-top: 80px;
  padding-bottom: 30px;
}

.projects-image {
  max-width: 80%;
  margin-bottom: 40px;
  padding-bottom: 10px;

}

.connect {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0D1117
}

h2 {
  text-align: center;
  padding-bottom: 60px;
}

li {
  list-style-type: none;
  padding-left: 0px;
}

@media only screen and (max-width: 600px) {
  .profile-image {
      max-width: 100%;
    } 
}

@media only screen and (max-width: 768px) {
  .about {
      padding-top: 10px;
      background-color: #F5F5F5;
  }

  .profile-image {
      max-width: 100%;
      padding: 10px;
    } 
}