body {
  font-family: 'Roboto Mono', monospace;
}

.navbar {
  background-color: #090909;
}

.masthead {
  min-height: 900px;
  background-color: #090909;
}

.intro {
  padding-top: 300px;
}


/* Typography */

h4, li, a {
  color: #ffffff;
}

p {
  font-size: 13px;
}

.paragraph-blk-bg {
  color: #ffffff;
}

.paragraph-wt-bg {
  color: #090909;
}

.h5-blk-bg {
  color: #ffffff;
}

.h5-wt-bg {
  color: #090909;
}

li, a:hover {
  color: #808080;
}

small {
  color: #808080;
}

/* Buttons */
.btn {
  margin-top: 20px;
}

/* Icons */
.icons {
  margin-bottom: 30px;
}

/* Sections */

.header {
  margin-bottom: 50px;
}

.about {
  padding: 60px 0px 80px;
  background-color: #F5F5F5;
}

.about-description {
  margin-top: 100px;
}

.profile-image {
  max-width: 50%;
  height: auto;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.qualifications {
  padding: 60px 0px 80px;
  background-color: #090909;
}

.skills {
  padding: 60px 0px 80px;
  background-color: #090909;
}

.carousel-inner {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  padding: 60px 0px 60px;
  background-color: #ffffff;
}

.carousel-inner {
  border-radius: 8px;;
}

.connect {
  padding: 60px 0px 60px;
  background-color: #090909;
}

/* Responsiveness */
