body {
  font-family: 'Roboto Mono', monospace;
}

.navbar {
  background-color: #090909;
}

.masthead {
  min-height: 900px;
  background-image: url("../images/animation.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #090909;
}

.intro {
  padding-top: 300px;
}


/* Typography */

h4, li, a {
  color: #ffffff;
}

p {
  font-size: 13px;
}

.paragraph-blk-bg {
  color: #ffffff;
}

.paragraph-wt-bg {
  color: #090909;
}

.h5-blk-bg {
  color: #ffffff;
}

.h5-wt-bg {
  color: #090909;
}

li, a:hover {
  color: #808080;
}

small {
  color: #808080;
}

/* Buttons */
.btn {
  margin-top: 20px;
}

/* Icons */
.icons {
  width: 20%;
  margin-bottom: 30px;
}

/* Sections */

.header {
  margin-bottom: 50px;
}

.about {
  padding: 60px 0px 80px;
  background-color: #F5F5F5;
}

.profile-image {
  max-width: 50%;
  height: auto;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.qualifications {
  padding: 60px 0px 80px;
  background-color: #090909;
}

.skills {
  padding: 60px 0px 80px;
  background-color: #1c1c1c;
}

.card-img-top {
  width: 30%;
}

.card {
  background-color: transparent;
  border: none;
}

.carousel-inner {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  padding: 60px 0px 60px;
  background-color: #ffffff;
}

.carousel-inner {
  border-radius: 8px;;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.connect {
  padding: 60px 0px 60px;
  background-color: #090909;
}

/* Responsiveness */

@media screen and (max-width: 600px) {
  .row {
    display: inline-block;
  }
  .column {
    flex: 1
  }
  .profile-image {
    max-width: 100%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  }
  .carousel-inner {
    max-width: 100%;
    border-radius: 8px;
  }
  .project-description {
    max-width: 100%;
  }
  .center-vertical {
    padding-top: 50px;
  }
}